# ==========================================
# 🐍  Archivos compilados / cache
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
.ipynb_checkpoints/

# ==========================================
# 🧪 Pytest
# ==========================================
.pytest_cache/
reports/
report.html
*.html

# No subir capturas de pantallas generadas por los tests
screenshots/

# ==========================================
# 🖥️ Selenium WebDrivers
# ==========================================
drivers/
msedgedriver.exe
chromedriver.exe
*.zip

# ==========================================
# 🌐 Archivos temporales o de logs
# ==========================================
*.log
*.tmp

# ==========================================
# 🛠️ Configuración de IDEs
# ==========================================
.vscode/
.idea/
*.iml